.deposit-form {
    h4 {
        margin: 0 0 1rem 0;
    }

    .generator-switcher {
        margin-top: -20px;
        margin-bottom: 24px;
    }

    .htlc-created.asset-card {
        margin: 0;
        padding: 0 !important;
    }
}
