@import "selector";

.deposit-page {
    display: flex;
    flex-direction: column;

    .deposit-form {
        border: 1px solid #4b5158;
        border-radius: 6px;
        padding: 2rem;

        h4 {
            margin: 0 0 1rem 0;
        }

        .htlc-created.asset-card {
            margin: 0;
            padding: 0 !important;
        }
    }

    @include breakpoint(medium) {
        div.deposit-form {
            min-width: 700px;
            margin-top: 2rem;
        }
    }
}
