.deposit-selector {
    &__types {
        display: flex;
        justify-content: space-around;
    }

    &__type {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 1px solid #4b5158;
        border-radius: 6px;
    }
}
