.withdraw-selector {
    &__types {
        display: flex;
        justify-content: space-around;
    }

    &__type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 1px solid #4b5158;
        border-radius: 6px;
        color: #e0e0e0 !important;

        .icon {
            width: 100px;
            height: 100px;

            svg {
                width: 100px;
                height: 100px;
            }
        }

        &_metamask {
            .icon {
                svg {
                    path {
                        fill: transparent !important;
                        stroke: #e0e0e0;
                    }
                }
            }
        }
    }
}
